.iframe_fn_working
{
    text-align: center;
    position: absolute;
    /*nos posicionamos en el centro del navegador*/
    top:50%;
    left:50%;
    /*determinamos una anchura*/
    width:580px;
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left:-290px;
    /*determinamos una altura*/
    height:490px;
    /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top:-235px;
    border:1px solid #808080;
    padding:5px;
    background-color: #FFFFFF;
}
.fn_working_background
{
    background-color: #FFFFFF;
}

.iframe_popup{
    text-align: center;
    position: absolute;
    /*nos posicionamos en el centro del navegador*/
    top:80%;
    left:50%;
    /*determinamos una anchura*/
    width:580px;
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left:-290px;
    /*determinamos una altura*/
    height:490px;
    /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top:-235px;
    border:1px solid #808080;
    padding:5px;
    background-color: #FFFFFF;
}
.fn_working_background
{
    background-color: #FFFFFF;
}