<script>
  //$(function () {
    //Datemask dd/mm/yyyy
    /*$("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
    //Money Euro
    $("[data-mask]").inputmask();*/
 // });


</script>


      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="form-group">
                <label>Seleccione Periodo</label>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">6-2018</option>
                  <option>1-2018</option>
                  <option>2-2018</option>
                  <option>3-2018</option>
                  <option>4-2018</option>
                  <option>5-2018</option>
                  <option>6-2018</option>
                </select>
            </div>
          <!-- /.box -->
        </div>
    </div>


		