<script>
 function SetPeriodIdlistTotalBilledInvoicesForPeriodId()
 {
      periodId = document.getElementById('periodIdSelect').value;
      readTotalDifferenceInvoicesOutvoicesForPeriodId( readCookie(COOKIE_USER_ID), periodId, fillTotalDifferenceInvoicesOutvoicesForPeriodId, failTotalDifferenceInvoicesOutvoicesForPeriodId, workingDesignPopupFNCallback );
 }


function fillTotalDifferenceInvoicesOutvoicesForPeriodId(result_found, data)
{
  if (result_found > 0)
  {
    document.getElementById("templateViewTotalDifferenceInvoicesOutvoicesForPeriodId").innerHTML = "";
    var itemTemplateHTML =   document.getElementById("templateTotalDifferenceInvoicesOutvoicesForPeriodId").innerHTML;
    document.getElementById("templateViewTotalDifferenceInvoicesOutvoicesForPeriodId").innerHTML = fillListWithTemplate( data, itemTemplateHTML, fillTotalBilledInvoicesForPeriodIdItem );
  }
  else
  {
    document.getElementById("templateViewTotalDifferenceInvoicesOutvoicesForPeriodId").innerHTML = '<tr><j style="color:#0073b7; font-weight:bold;">&nbsp; No hay Facturas de ventas cargadas.</j></tr>';
  }
}

function failTotalDifferenceInvoicesOutvoicesForPeriodId()
{
  alert("Error: no data invoices loaded in data base.")
}


$(document).ready(function()
{
  var periodId = document.getElementById('periodIdSelect').value;
  readTotalDifferenceInvoicesOutvoicesForPeriodId( '37', periodId, fillTotalDifferenceInvoicesOutvoicesForPeriodId, failTotalDifferenceInvoicesOutvoicesForPeriodId, workingDesignPopupFNCallback );
});
</script>

<div class="row">
  <div class="col-md-12">
        <div class="box-header with-border">
          <h3 class="box-title">Totales por Mes</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="form-group">
              <label>Seleccione Periodo</label>
              <select onChange="SetPeriodIdlistTotalBilledInvoicesForPeriodId();" id="periodIdSelect" class="form-control select2" style="width: 50%;">
                <option value="13">1-2019</option>
                <option value="14">2-2019</option>
                <option value="15">3-2019</option>
                <option value="16">4-2019</option>
                <option value="17">5-2019</option>
                <option value="18">6-2019</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
          <div class="row">
              <div id="templateViewTotalDifferenceInvoicesOutvoicesForPeriodId"></div>
              <div id="templateTotalDifferenceInvoicesOutvoicesForPeriodId" style="display:none;">
                  <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <h5 class="description-header" style="font-size: 15px; font-weight:bold;">$ |READ_INOUTVOICES_TOTALSLOADEDS_DIFFERENCE_PERIODID_AMOUNT_TOTAL_OUTVOICE|</h5>
                            <span class="description-text">TOTAL COMPRAS</span>
                        </div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="description-block border-right">
                      <h5 class="description-header" style="font-size: 15px; font-weight:bold;">$ |READ_INOUTVOICES_TOTALSLOADEDS_DIFFERENCE_PERIODID_AMOUNT_TOTAL_INVOICE|</h5>
                      <span class="description-text">TOTAL VENTAS</span>
                    </div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="description-block border-right">
                      <h5 class="description-header" style="font-size: 15px; font-weight:bold;">$ |READ_INOUTVOICES_TOTALSLOADEDS_DIFFERENCE_PERIODID_AMOUNT_TOTAL_DIFFERENCE|</h5>
                      <span class="description-text">TOTAL DIFERENCIA</span>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      