<footer class="page-footer font-large blue" style="padding: 10px;">
  <div class="footer-copyright text-center py-3">© 2019
    <a style="font-size: 16px; color: #24323c; font-weight: blod;" href="" target="_blank"></a>
     &nbsp; - &nbsp; Powered by: &nbsp; <img src="./images/logo_solo.png" style="height: 30px; width: 30px; font-weight: blod;">
    <a style="font-size: 16px; font-weight: blod; color:#24323c;" href="http://www.efene.xyz/" target="_blank" style=""> FN / Software Factory</a>
  </div>
</footer>

