
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/dist/img/user.png" class="img-circle" alt="User Image" style="background-color: #fff;">
      </div>
      <div class="pull-left info">
        <p>Usuario</p>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">Menú</li>
      <li class="active treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Cuentas de Usuarios</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active">
            <a>
              <i class="fa fa-circle-o"></i> 
              Usuarios 
              <span class="pull-right-container">
                <small id="leftBarAmountUsers" class="label pull-right bg-green" style="font-size: 12px;">0</small>
              </span> 
            </a>
          </li>
        </ul>
    </ul>
  </section>
</aside>