
<header class="main-header">
    <a class="logo">
      <span class="logo-mini"><b>N</b>W</span>
      <span class="logo-lg"><b>NW</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu" style="cursor:pointer;">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/nw.png" class="user-image" alt="User Image">
              <span class="hidden-xs">Usuario administrador</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="images/nw.png" class="img-circle" alt="User Image">
                <p>
                 Usuario - Administrador
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-right">
                  <a href="index.php" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div> 
    </nav>
  </header>