<script>
$(document).ready(function ()
{
  loadPage("./views/logged_admin_user_main_menu_users_crud_create.html", "#content-col-left", "Y");
  loadPage("./views/logged_admin_user_main_menu_users_list.html", "#content-col-left", "Y");
});
</script>

<section class="content" >
    <div class="row">

        <section id="content-col-left" class="col-lg-9 connectedSortable ui-sortable"></section>
        <section id="content-col-left" class="col-lg-9 connectedSortable"></section>

        <section id="content-col-left" class="col-md-auto connectedSortable ui-sortable"></section>
        <section id="content-col-left" class="col-md-auto connectedSortable"></section>

    </div>
</section>