<script>
  function showAddUserPopup ()
  {
    document.getElementById("iFrameViewElementsActions").src = '';
    document.getElementById("formTitle").innerHTML= 'Alta de usuarios';
    document.getElementById("iFrameViewElementsActions").style.borderTopColor = '#009e55';
    document.getElementById("iFrameViewElementsActions").src = 'popup/logged_admin_user_popup_users_crud_create.php';
  }

</script>         
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Alta Usuarios</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-3"></div>   
      </div>
      <div class="row">
        <div class="col-xs-3">
          <button onclick="showAddUserPopup();" type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#divIframeViewElementsActions"><i class="fa fa-fw fa-plus"></i></button>
        </div>
      </div>
    </div>
  </div>