<script>
  function getDataLogin()
    {
        var userName =  document.getElementById('userName').value;
        var userPass =  document.getElementById('userPass').value;
        bandera = '1';
        if ( userName == "admin" && userPass =="1234")
        {
          window.location = PROJECT_URL+'indexAdminPanel.php';
        }else
          visibilityElement('loginIncorrect');
          return;
    }

    function workingDesignPopupLoginFNCallback()
    {
        showElement("divIframeViewLogin");
    }

    $(document).ready(function ()
    {
        /*if ( (readCookie(COOKIE_LOGIN)) && (readCookie(COOKIE_USER_ID)) )
        {
            window.location = ADMIN_PANEL_URL + 'indexAdminPanel.php';
        }
        else
        {
            showElement("loginContent");
            loadPage("./views/footer.html", "#footer");
            deviceDetecting();
        }*/
    });

</script>
<body style="line-height:0;" onkeydown="if(event.keyCode ==13) getDataLogin();">
  <div class="login-box">
    <div class="login-logo">
      <b style="color:#367fa9;">Panel Administrador</b> <j style="">APP Test</j>
    </div>
    <div align="center">
      <img style="margin-right: auto;margin-left: auto;" src="">
    </div>
    <div class="login-box-body" >
      <p class="login-box-msg">Ingrese Usuario y Clave para acceder al Administrador</p>
        <div class="form-group has-feedback">
          <input id="userName" type="email" class="form-control" placeholder="Usuario">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input id="userPass" type="password" class="form-control" placeholder="Clave">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div style="margin-left: 25px;" class="checkbox icheck">
              <label>
                <!-- <input type="checkbox"> Remember Me -->
              </label>
            </div>
            <div id="loginIncorrect" style="visibility:hidden; color: #F45155; font-size:18px;">Usuario o password incorrecto.</div>
          </div>
          <div class="col-xs-4">
            <button onclick="getDataLogin();" class="btn btn-primary btn-block btn-flat">Ingresar</button>
          </div>
        </div>
      <!-- <a href="#">I forgot my password</a><br> -->
    </div>
  </div>
</body>

