<script>
 /* $(function () {
    //Datemask dd/mm/yyyy
    $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
    //Money Euro
    $("[data-mask]").inputmask();
  });*/

  $(document).ready(function()
  {
    ListTotalBilledOutvoices( '37', fillListTotalBilledOutvoices, failListTotalBilled, workingDesignPopupFNCallback );
  });


  function fillListTotalBilledOutvoices(result_found, data)
  {
    if (result_found > 0)
    {
        var itemTemplateHTML =   '<tr>'
                                    +'<td scope="col" class="FN_table_cells">|READ_OUTVOICES_BILLEDALLPERIODS_PERIOD_TYPE|</td>'
                                    +'<td scope="col" class="FN_table_cells">|READ_OUTVOICES_BILLEDALLPERIODS_AMOUNT_TOTAL|</td>'
                                    +'<td><button onclick="showPeriodDetails(|READ_OUTVOICES_BILLEDALLPERIODS_PERIOD_ID|);" type="button" class="btn btn-Primary" data-toggle="modal" data-target="#divIframeViewElementsActions"><i class="fa fa-fw fa-eye"></i></button></td>'
                                +'</tr>';
        document.getElementById("contentListTableBody").innerHTML = fillListWithTemplate( data, itemTemplateHTML, fillListTotalBilledOutvoicesListItem );
    }
    else
    {
      document.getElementById("contentListTableBody").innerHTML = '<tr><j style="color:#0073b7; font-weight:bold;">&nbsp; No hay registros creados en base de datos</j></tr>';
    }
  }

  function failListTotalBilled()
  {
    alert("No data loaded in the data base.")   
  }

  function saveUserCallback(){
      Alert("Usuario creado con éxito.");
  }

  function saveUserError(){
      Alert("Error al crear usuario.");
  }

  function workingDesignPopupLoginFNCallback(){
        Alert("Estamos trabajando.");
    }


  function showPeriodDetails(period_id_outvoice){
    document.getElementById("formTitle").innerHTML= 'Ver detalles de Compras';
    document.getElementById("iFrameViewElementsActions").src = PROJECT_URL+'popup/logged_user_popup_show_details_outvoices.php?PAR='+period_id_outvoice;
    showElement("divIframeViewElementsActions");
  }

</script>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="table-responsive-sm">
                  <table class="table">
                    <tr>
                      <th>Periodo</th>
                      <th>Total</th>
                      <th>Ver detalles</th>
                    </tr>
                    <tbody id="contentListTableBody"></tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>

